export(bearspread)
export(blackscholes)
export(bullspread)
export(call)
export(getBearspread)
export(getBlackscholesGenerator)
export(getBullspread)
export(getCall)
export(getHestonGenerator)
export(getMertonGenerator)
export(getMinPut)
export(getNigGenerator)
export(getPut)
export(getUpAndOutMaxCall)
export(heston)
export(merton)
export(minPut)
export(nig)
export(put)
export(upAndOutMaxCall)
